# Ignore Python virtual environments
*.venv/
__pycache__/

# Ignore model files
backend/models/CNNModel.keras


# Ignore node_modules and build output in frontend
frontend/node_modules/
frontend/dist/

# Ignore OS and editor files
.DS_Store
Thumbs.db

# Ignore VS Code settings (optional)
.vscode/

.vite/